services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: QA_Test
      POSTGRES_PASSWORD: QA_Test
      POSTGRES_DB: HMS
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis_broker
    restart: unless-stopped
    ports:
      - "6379:6379"

  alembic:
    build: .
    container_name: alembic_runner
    command: alembic upgrade head
    env_file:
      - .env.docker
    depends_on:
      - postgres
    volumes:
      - .:/app
    restart: "no"

  api:
    build: .
    container_name: fastapi_app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env.docker
    depends_on:
      - alembic
      - redis
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  worker:
    build: .
    container_name: celery_worker
    command: celery -A worker.celery.celery_app worker --loglevel=info
    env_file:
      - .env.docker
    depends_on:
      - alembic
      - redis
    volumes:
      - .:/app

volumes:
  postgres_data:
