services:
  postgres:
    image: postgres:15
    container_name: postgres_dev
    restart: unless-stopped
    environment:
      POSTGRES_USER: QA_Test
      POSTGRES_PASSWORD: QA_Test
      POSTGRES_DB: HMS
    ports:
      - "5432:5432"
    volumes:
      - postgres_dev_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_dev
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  postgres_dev_data:
